*tar*

build/

ikeda
ikeda_mount/

busybox*
!busybox-version

linux*
!linux-version

bash*
!bash-version

!zsh-version

musl*
musl-cross-make/
musl-out/
!musl-version
!musl.config.mak

kernel-headers/

!startup
!sg-targets